<h1>Congreso de programación 2019</h1>
<h2>Próximos congresos</h2>
{% if latest_congreso_list %}
    <ul>
    {% for congreso in latest_congreso_list %}
        <li><a href="{% url 'listas:congresoDetail' congreso.id %}">{{ congreso.nombre }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay ningún congreso disponible.</p>
{% endif %}
<h2>Links importantes</h2>
<p><a href="{% url 'listas:personasList' %}">Lista de asistentes</a></p>
<p><a href="{% url 'listas:congresosList' %}">Lista de congresos</a></p>