<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <h2>Informacion miembro</h1>
        <ul>
            <p><b>Nombre: </b>{{ persona }}</p>
            <p><b>Dirección: </b> {{persona.direccion}}</p>
            <p><b>Teléfono: </b>{{persona.telefono}}</p>
            <p><b>Email:</b> {{persona.email}}</p>
        </ul>
        
        <h3>Conferencias a asistir</h3>

        {% for congreso in persona..all %}
        <p><li><a href="{% url 'listas:personaDetail' persona.id %}">{{ persona.nombre }}</a></li></p>
        {% endfor %}
</body>
